{{> head  }}



{{> navbar  }}

<div class="row">

  <div class="col-8">

    <h1>ABOUT</h1>
    <hr>
    <p>
      Lorem ipsum dolor sit amet consectetur adipisicing elit. Ex libero dolorum pariatur earum cum, optio at rem quas,
      adipisci corrupti repellendus nulla, odio et voluptatibus ipsum aperiam dolorem rerum repellat!
    </p>

  </div>

  <div class="col-4">

    <img src="assets/img/panda.jpg" class="img-thumbnail" alt="">

  </div>

</div>


{{> footer  }}